@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p>Данная страница создана для тестирования</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">тестовая страничка для  ASP.NET Core</a>.</p>
</div>
